@import "libs"
@import "base"

//------------------------убрати------------------------
canvas
	background: radial-gradient(#565769 0%, #32363E 100%)
	z-index: -1
	min-height: 100vh

//------------------------убрати-end-----------------------


.wrapper
	display: flex
	width: 100vw
	height: 100vh
	padding: 0px
	margin: 0px
	background: radial-gradient(#565769 0%, #32363E 100%)
	overflow: hidden
	min-width: 100%
	background: url(../img/bg.webp) center center / cover no-repeat
	display: flex
	justify-content: center
	align-items: center

.form
	background: radial-gradient(45.309em at 50% 43.45%, rgba(86, 87, 105, 0.9) 0%, rgb(50, 54, 62) 100%)
	width: auto
	height: auto
	min-width: 30em
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.313em 1.25em 0px

	
.lgTGcu
	display: flex
	justify-content: space-between
	background-color: rgba(255, 255, 255, 0.1)
	height: 2.625em
	margin-top: 1.25em
	cursor: default

	span
		font-weight: bold
		font-size: 1.375em

		text-transform: uppercase
		margin-left: 1.4em
		margin-top: 0.3em
		align-self: flex-start
		position: absolute

.bAjkWk
	background-color: rgb(255, 188, 9)
	box-shadow: rgba(255, 76, 76, 0.5) 0px 0px 0.625em 0px, rgba(255, 142, 9, 0.5) 0px 0px 0.676em 0px
	width: 0.313em
	height: 2.625em
	display: flex

.iEMwyd
	width: 13.125em
	height: 2.625em
	margin-top: 0px
	margin-left: 0px

.bNaBfj
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: flex-start
	width: 100%
	height: 6em
	margin-top: 2.125em

.gZWFRn
	font-size: 1em
	display: flex
	justify-content: space-between
	width: 26.25em
	height: 1.375em
	margin-left: 1.875em

	span
		font-size: 0.938em

.bHsQjJ
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: flex-start
	width: 100%
	height: 6em
	margin-top: 0.5em

input
	font-size: 1em
	line-height: 3.125em
	display: flex
	justify-content: space-between
	background-color: rgba(255, 255, 255, 0.1)
	background-image: none
	box-sizing: border-box
	align-items: center
	width: 26.25em
	height: 3.125em
	margin-left: 1.875em
	margin-top: 0.2em
	color: rgba(255, 255, 255, 0.5)
	padding-left: 1.063em
	border-width: 0.063em
	border-style: solid
	border-color: rgba(255, 255, 255, 0.5)

	&:hover,
	&:focus
		background-color: rgba(255, 255, 255, 0.1)
		border-width: 0.125em
		border-style: solid
		border-color: rgba(255, 255, 255, 0.5)
		border-image: initial

.dBwanX
	display: flex
	justify-content: flex-start
	align-items: center
	width: 26.25em
	height: auto
	margin-top: 2.063em
	margin-left: 1.875em
	margin-right: 1.875em

.kOUXcA
	display: inline-block

.bSumGH
	width: 23.063em
	margin-left: 0.938em
	margin-top: 0px
	font-size: 0.938em
	color: rgb(255, 255, 255)
	cursor: default

	a
		color: #afff70
		text-decoration: underline

.lppiM
	margin-left: 0.313em

	span
		font-weight: bold
		font-size: 0.938em

		color: rgb(162, 255, 106)
		cursor: pointer
		text-decoration: underline


.dBwanX label
	width: 2.25em
	height: 2.25em


.bOGYdd
	display: none


.iDfrzz
	width: 2.375em
	height: 2.375em
	display: flex
	box-sizing: border-box
	cursor: pointer
	background: rgba(255, 255, 255, 0.1)
	border-width: 0.063em
	border-style: solid
	border-color: rgba(255, 255, 255, 0.2)
	border-image: initial


.cOIcih
	width: 26.25em
	height: 3.125em
	display: flex
	justify-content: center
	align-items: center
	position: relative
	margin-top: 2.188em
	margin-right: 0px
	text-align: center
	font-size: 1em
	cursor: pointer
	margin-left: 1.875em
	border-radius: 0.188em
	background: rgba(255, 255, 255, 0.1)
	transition: background 0.3s ease 0s

	span
		font-size: 1.063em
		font-weight: bold

		text-transform: uppercase
		text-shadow: rgb(0, 0, 0) 0px 0px 0.25em
		opacity: 0.2
		text-align: center

.ijuhSn
	display: flex
	justify-content: space-between
	align-items: center
	background-color: rgba(255, 255, 255, 0.1)
	height: 4em
	margin-top: 1.65em
	width: 26.25em
	margin-left: 1.875em

.ilxTjE
	margin-left: 1.875em

	span
		font-size: 0.938em

		text-align: left
		opacity: 0.5

.hYIRcz
	display: flex
	-webkit-box-pack: end
	justify-content: flex-end
	height: 2.375em
	margin-left: 0px
	cursor: pointer

	img
		width: 3.625em
		height: 2.375em
		margin-right: 1.25em


.AhTbM 
	display: flex
	justify-content: center
	align-items: center
	background-color: rgba(255, 255, 255, 0.1)
	width: 30em
	height: 4em
	margin-top: 2.063em
	bottom: 0px

	span
		font-size: 0.938em

		text-align: center
		cursor: default

.ciVgOw span
	font-weight: bold
	font-size: 0.938em
	color: rgb(162, 255, 106)
	cursor: pointer
	text-decoration: underline

.eUIqSm
	margin-right: 0.5em

.jjPwCo:hover
	background-color: rgba(255, 255, 255, 0.1)
	border-width: 0.125em
	border-style: solid
	border-color: rgb(235, 87, 87)
	border-image: initial


.kFKoLL
	font-size: 0.938em
	color: rgb(255, 124, 124)
	margin-left: 1.938em
	margin-top: 0px
	cursor: default

.cCRFVn
	width: 2.375em
	height: 2.375em
	display: flex
	box-sizing: border-box
	cursor: pointer
	background: rgba(255, 255, 255, 0.1)
	border-width: 0.063em
	border-style: solid
	border-color: rgba(255, 255, 255, 0.2)
	border-image: initial

	&::before
		content: ""
		position: relative
		width: 2.375em
		background: url(../img/checked.svg) 50% 50% / 70% 70% no-repeat
		background-position: 50% 50%


.dmBykg
	font-weight: bold
	font-size: 0.938em
	color: rgba(255, 255, 255, 0.5)
	cursor: pointer
	text-decoration: underline

.ciVgOw span
	font-weight: 700
	font-size: .938em
	color: #a2ff6a
	cursor: pointer
	text-decoration: underline

.ftJxjC
	font-size: 0.938em
	cursor: default
	margin-left: 0px
	margin-top: 0px
	max-width: 10em
	padding-left: 0.938em

.grPZDL
	width: 12.5em
	height: 3.125em
	display: flex
	justify-content: center
	align-items: center
	position: relative
	margin-top: 0px
	margin-right: 0px
	text-align: center
	cursor: pointer
	margin-left: auto
	border-radius: 0.188em
	background: rgb(116, 186, 61)
	transition: background 0.3s ease 0s

.cBnUx
	display: flex
	justify-content: space-between
	align-items: center
	background-color: rgba(255, 255, 255, 0.1)
	height: 4em
	margin-top: 1.65em

.grPZDL
	&:hover
		background: rgb(149, 198, 121)
		
	span
		font-size: 1.125em
		font-weight: bold

		text-transform: uppercase
		text-shadow: rgba(0, 0, 0, 0.5) 0.063em 0.063em 0.063em
		color: rgb(255, 255, 255)
		border-radius: 0.188em



//---------------------profile-----------------------
.GlobalStyle-body
	display: flex
	width: 100%
	height: 100%
	padding: 0px
	margin: 0px

.GlobalStyle-html, .GlobalStyle-body
	background: radial-gradient(#565769 0%, #32363E 100%)
	width: 100%
	height: 100%

.GlobalStyle-wrapper
	display: flex
	flex-direction: column
	justify-content: flex-start
	width: 100%
	height: 100%
	-webkit-box-flex: 1
	flex-grow: 1
	flex-shrink: 0
	flex-basis: auto
	padding: 0px
	margin: 0px

.lojvzz
	display: flex
	flex-direction: column
	-webkit-box-pack: justify
	justify-content: space-between
	align-items: flex-start
	min-width: 80em
	width: 100%
	height: 100%
	position: absolute
	background: radial-gradient(34em at 50% 33.45%, rgb(86, 87, 105) 0%, rgb(50, 54, 62) 100%)
	margin: 0px

.neuxE
	display: flex
	-webkit-box-pack: justify
	justify-content: space-between
	align-items: center
	width: 100%
	height: 6em
	position: fixed
	z-index: 3
	background: url(../img/header--bg.svg) 0% 0% / cover
	border-bottom: 0.125em solid rgba(0, 215, 255, 0.2)
	padding: 0px
	margin: 0px

	&::before
		content: ""
		height: 100%
		width: 100%
		position: absolute
		background: radial-gradient(28em 4em at 50% 100%, rgba(0, 255, 255, 0.1) 0%, rgba(0, 10, 255, 0) 100%)

.epHIJT
	display: flex
	justify-content: flex-start
	align-items: center
	margin-left: 0px
	margin-top: 0px
	position: relative

.iYGDqi
	display: flex
	-webkit-box-pack: end
	justify-content: flex-end
	align-items: center
	align-self: center
	margin-right: 0px
	height: 6em
	margin-top: 0px
	z-index: 5


.kHhjBl
	display: flex
	justify-content: flex-start
	-webkit-box-align: center
	align-items: center

.ffqmie
	width: 4.375em
	height: 4.375em
	margin: 0em 0.813em

.lmpHBC
	display: flex
	flex-direction: column
	justify-content: flex-start
	width: 100%
	height: 3.75em

.BGTFt
	display: inline-block
	width: max-content
	height: max-content

.dJStEM
	background-color: rgba(255, 255, 255, 0.2)
	display: flex
	flex-direction: column
	position: relative
	width: 21.313em
	height: 0.125em
	margin-top: 0.375em
	margin-left: 0px

	&::after
		content: ""
		display: flex
		box-shadow: rgba(120, 247, 58, 0.5) 0px 0px 0.375em 0px
		width: 0px
		height: 100%
		background: linear-gradient(90deg, rgb(150, 230, 161) 0%, rgb(212, 252, 121) 100%)

.lmHqM
	display: flex
	justify-content: flex-start
	align-items: flex-start
	height: 0.875em
	margin-top: 0.55em
	opacity: 0.8

	img
		width: 1.25em
		height: 0.875em
		margin: 0em

	span
		font-weight: bold
		font-size: 1.125em
		text-align: justify
		margin-left: 0.375em
		margin-top: -0.3em


.fFLaxt
	display: flex
	-webkit-box-pack: justify
	justify-content: space-between
	align-items: center
	height: 3em
	order: 1
	-webkit-box-flex: 1
	flex-grow: 1
	flex-shrink: 0
	background-color: rgba(255, 255, 255, 0.1)
	z-index: 3
	padding-right: 0.75em
	cursor: pointer
	border-radius: 0.438em

	&:hover
		background-color: rgba(255, 255, 255, 0.2)

	img
		width: 2.813em
		height: 2.688em
		margin-left: 0px
		margin-right: -0.5em

	span
		font-weight: bold
		font-size: 1.125em
		line-height: 1.313em
		word-spacing: 0.938em
		color: rgb(255, 188, 9)
		padding-left: 1.125em


.gQoOSu
	background-color: rgba(255, 255, 255, 0.1)
	z-index: 3
	display: flex
	-webkit-box-pack: justify
	justify-content: space-between
	align-items: center
	height: 3em
	order: 1
	-webkit-box-flex: 1
	flex-grow: 1
	flex-shrink: 0
	margin-left: 0.75em
	padding-left: 0.75em
	padding-right: 0.75em
	cursor: pointer
	border-radius: 0.438em
	&:hover
		background-color: rgba(255, 255, 255, 0.2)

	img
		width: 1.438em
		height: 1.313em

	span
		font-weight: bold
		font-size: 1.125em
		line-height: 1.313em
		word-spacing: 0.938em
		color: rgb(0, 215, 255)
		padding-left: 1.125em

.kZScbm
	background-color: rgba(255, 255, 255, 0.1)
	z-index: 3
	display: flex
	justify-content: center
	align-items: center
	height: 3em
	order: 1
	-webkit-box-flex: 0
	flex-grow: 0
	flex-shrink: 0
	cursor: pointer
	margin-left: 0.75em
	width: 3em
	border-radius: 0.438em

	&:hover
		background-color: rgba(255, 255, 255, 0.2)

	img
		width: 1.375em
		height: 1.375em
		margin-left: 0px

.jHCzof
	background-color: rgba(255, 255, 255, 0.1)
	z-index: 3
	display: flex
	justify-content: center
	align-items: center
	height: 3em
	order: 1
	-webkit-box-flex: 0
	flex-grow: 0
	flex-shrink: 0
	cursor: pointer
	margin-right: 1.5em
	margin-left: 0.75em
	width: 3em
	border-radius: 0.438em

	&:hover
		background-color: rgba(255, 255, 255, 0.2)

	img
		width: 1.25em
		height: 1.375em
		margin-left: 0px


.gxnwLR
	display: flex
	justify-content: flex-start
	align-items: flex-start
	flex-direction: column
	width: 32.813em
	height: 100%
	margin-left: 0px
	margin-top: 0px

.eVxVzf
	width: 28.813em
	height: 100%
	opacity: 0.9
	position: absolute
	top: 0px
	bottom: 0px
	left: 0px
	z-index: 1
	background: linear-gradient(90deg, rgb(46, 50, 53) 0%, rgba(46, 50, 53, 0) 100%)


.hyPwgI
	pointer-events: auto
	display: flex
	flex-direction: column
	-webkit-box-pack: justify
	justify-content: space-between
	width: 35.625em
	min-height: 18.125em
	z-index: 20
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.313em 1.25em 0px
	background: radial-gradient(463.12px at 50% 43.45%, rgb(74, 74, 91) 0%, rgb(50, 54, 62) 100%)


.bNHyK
	display: flex
	-webkit-box-pack: justify
	justify-content: space-between
	background-color: rgba(255, 255, 255, 0.1)
	width: 100%
	margin-left: 0px
	margin-top: 1.25em

	h1

		font-weight: bold
		font-size: 1.375em

		text-transform: uppercase
		margin-left: 1.563em
		margin-top: 0.4em
		align-self: flex-start
		position: absolute

.cDbmcE
	width: 0.313em
	height: 2.625em
	filter: drop-shadow(rgba(255, 76, 76, 0.5) 0px 0px 0.625em)
	background-color: rgb(255, 188, 9)

.cKYyrs
	width: 1.25em
	height: 1.25em
	align-self: center
	margin-left: 0.5em
	margin-right: 0.75em
	cursor: pointer

.gAMDfX
	width: 13.125em
	height: 100%

.dMsALi span
	text-align: center
	align-self: center
	display: block

.eJiYue
	padding-top: 2.625em


.jvTnFQ
	font-weight: normal
	font-size: 0.938em
	color: white
	margin-left: 0px
	margin-top: 1em
	margin-bottom: 3.188em

.djBExM
	width: 5.313em
	height: 4.75em

.hiFsPB
	text-align: center
	
footer
	display: flex
	-webkit-box-pack: justify
	justify-content: space-between
	align-items: center
	align-self: flex-end
	-webkit-box-flex: 0
	flex-grow: 0
	flex-shrink: 0
	flex-basis: auto
	min-width: 80em
	width: 100%
	height: 4em
	z-index: 5
	background: url(../img/footer.svg) 0% 0% / cover
	position: fixed
	bottom: 0

	ul
		display: flex

		justify-content: flex-start
			align-items: center
		width: 21.75em
		height: 3em
		padding: 0px

.BGTFt
	display: inline-block
	width: max-content
	height: max-content

.cHCHun
	display: flex
	flex-direction: column
	position: absolute
	top: 4.5em
	left: 0.5625em
	align-items: center
	justify-content: center
	cursor: pointer

.jIeCvo
	background-color: rgb(44, 49, 67)
	width: 4.9375em
	height: 1.4375em
	display: flex
	align-items: center
	justify-content: center
	border-radius: 2em

.jIeCvo img
	position: absolute
	z-index: 1

.jIeCvo span
	font-weight: bold
	font-size: 0.75em
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px
	z-index: 2


.geCmzM div
	width: 1.625em
	height: 1.625em
	background-color: rgb(255, 255, 255)
	-webkit-mask-image: url(../img/Options.29129624.svg)
	-webkit-mask-size: contain
	transition: all 0.2s ease 0s
	-webkit-mask-repeat: no-repeat
	-webkit-mask-position: center center

.CnpHG li
	display: flex
	justify-content: center
	align-items: center
	width: 5.438em
	height: 3em
	margin-left: 0px


.geCmzM:hover div
	background-color: rgb(255, 188, 9)


.hekwEL div
	width: 1.755em
	height: 1.563em
	background-color: rgb(255, 255, 255)
	-webkit-mask-image: url(../img/Friend.8305cb24.svg)
	-webkit-mask-size: contain
	transition: all 0.2s ease 0s
	-webkit-mask-repeat: no-repeat
	-webkit-mask-position: center center

.hekwEL:hover div
	background-color: rgb(255, 188, 9)



//--------------------right container-------------------------------
.hAvcVh
	width: 28.813em
	height: 100%
	opacity: 0.9
	position: absolute
	transform: rotate(-180deg)
	top: 0px
	bottom: 0px
	right: 0px
	z-index: 10000
	background: linear-gradient(90deg, rgb(46, 50, 53) 0%, rgba(46, 50, 53, 0) 100%)

.dmkfjW
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: flex-start
	width: auto
	height: 10em
	position: fixed
	margin-top: 10em
	background-color: rgb(44, 49, 67)
	right: 0px
	z-index: 4
	cursor: pointer

.enpUCr
	display: flex
	-webkit-box-pack: justify
	justify-content: space-between
	align-items: center
	background-color: rgba(255, 255, 255, 0.1)
	width: 100%
	height: 1.75em
	top: 0px
	margin-bottom: 0.938em
	position: relative

.hZOSni
	width: 0.313em
	height: 1.75em
	margin-left: 0px
	background-color: rgb(255, 188, 9)
	box-shadow: rgba(255, 142, 9, 0.5) 0px 0px 0.676em 0px

.enpUCr h3
	font-weight: bold
	font-size: 1.125em
	text-transform: uppercase
	margin-left: 0.688em
	color: rgb(255, 188, 9)
	padding-right: 0.625em

.cPwlkg
	width: auto
	height: 1.75em
	right: 0px
	position: absolute

.cirVZg
	display: flex
	justify-content: flex-start
	align-items: center
	width: auto
	-webkit-box-flex: 1
	flex-grow: 1
	flex-shrink: 0
	flex-basis: auto
	margin-left: 1em
	margin-right: 1.063em

.cirVZg img
	width: 1em
	height: 1em

.cirVZg span
	font-weight: bold
	font-size: 0.938em
	margin-left: 0.25em

.eyAREe
	display: flex
	-webkit-box-pack: justify
	justify-content: space-between
	align-items: center
	width: auto
	height: 1.313em
	right: 0px
	position: relative
	-webkit-box-flex: 1
	flex-grow: 1
	flex-shrink: 0
	flex-basis: auto
	padding-right: 1.063em
	padding-left: 1.688em

.eyAREe img
	width: 1.125em
	height: 1.125em

.eyAREe span
	font-weight: normal
	font-size: 0.938em
	color: rgba(255, 255, 255, 0.6)
	margin-left: 0.25em

.fIZyFk
	display: flex
	justify-content: center
	align-items: center
	width: 4.063em
	height: 3.125em
	margin-left: -0.8em

.fIZyFk img
	width: 4.063em
	height: 2.375em
	opacity: 0.3

.cWLDUV
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: flex-start
	width: inherit
	height: 3.125em
	margin-left: 0px

.cWLDUV p
	font-weight: bold
	font-size: 0.938em
	color: rgb(255, 124, 124)
	margin-top: 0px
	margin-left: 0.813em
	opacity: 1

.cWLDUV span
	margin-left: 0.813em
	margin-top: 0.25em !important
	color: rgb(255, 188, 9)
	opacity: 0.3

.cRJkjh span
	font-weight: bold
	font-size: 0.938em
	margin-left: 0.813em

.llwtz
	width: 4.813em
	height: 2.813em
	margin-left: 0.5em
	margin-right: 0px
	opacity: 0.3
	border-left: 0.063em solid rgba(255, 255, 255, 0.1)

.bjypMN
	width: 0.938em
	height: 1.188em
	margin-left: 0.813em
	margin-top: -0.05em
	position: absolute
	background: url(../img/close.svg) 0% 0% / contain no-repeat
	background-repeat: no-repeat

.cRJkjh
	display: flex
	justify-content: flex-start
	align-items: center
	width: 98%
	height: 3.125em
	background-color: rgba(0, 0, 0, 0.1)
	box-sizing: border-box
	margin-left: 0.313em
	margin-right: 0.313em
	margin-bottom: 0.313em
	border-width: 0.063em
	border-style: solid
	border-color: rgba(255, 255, 255, 0.1)
	border-image: initial
	border-radius: 0.313em

.dLOCGW
	display: flex
	justify-content: center
	align-items: center
	width: 4.063em
	height: 3.125em
	margin-left: -0.8em

.dLOCGW img
    width: 4.063em
    height: 2.375em

.cCNIWC
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: flex-start
	width: inherit
	height: 3.125em
	margin-left: 0px

.cRJkjh span
	font-weight: bold
	font-size: 0.938em
	margin-left: 0.813em
	margin-top: -1em

.cCNIWC span
	margin-left: 0.813em
	margin-top: 0.25em

.cCNIWC p
	font-weight: bold
	font-size: 0.938em
	color: rgba(255, 255, 255, 0.5)
	margin-top: 0px
	margin-left: 0.813em

.jSPjQU
	width: 4.813em
	height: 2.813em
	margin-left: 0.5em
	margin-right: 0px
	border-left: 0.063em solid rgba(255, 255, 255, 0.1)


//-----------------left menu--------------------
.dnyoZq
	display: flex
	justify-content: center
	align-items: center
	width: 22.563em
	height: 5.625em
	background-color: rgba(44, 49, 67, 0.9)
	box-sizing: border-box
	box-shadow: rgba(120, 247, 58, 0.5) 0px 0px 0.375em 0px
	top: 10em
	position: fixed
	z-index: 4
	cursor: pointer
	margin-left: 4em
	border-radius: 0.375em
	border-width: 0.188em
	border-style: solid
	border-color: rgb(162, 255, 106)
	border-image: initial

.dnyoZq span
	font-weight: 700
	font-size: 3.75em
	text-transform: uppercase
	text-shadow: rgba(120,247,58,.5) 0 0 0.375em
	color: #a2ff6a


.gxnwLR
	display: flex
	justify-content: flex-start
	align-items: flex-start
	flex-direction: column
	width: 32.813em
	height: 100%
	margin-left: 0px
	margin-top: 0px

.eVxVzf
	width: 28.813em
	height: 100%
	opacity: 0.9
	position: absolute
	top: 0px
	bottom: 0px
	left: 0px
	z-index: 1
	background: linear-gradient(90deg, rgb(46, 50, 53) 0%, rgba(46, 50, 53, 0) 100%)

.hdYaSV
	width: 22.563em
	height: 5.625em
	-webkit-mask-image: url(../img/li1.svg)
	-webkit-mask-size: 100% 100%
	background-image: url(../img/li2.svg)
	filter: blur(2px)
	animation-fill-mode: forwards
	background-size: contain
	position: absolute
	-webkit-mask-repeat: no-repeat
	-webkit-mask-position: center center
	background-repeat: repeat-x

	&:hover
		animation: 0.6s linear 0s infinite normal none running eDmzdY

@keyframes eDmzdY
	0%
		background-position: 0px 0px
	100%
		background-position: 28px 0px

.ggCYXF
	display: flex
	justify-content: center
	align-items: center
	width: 5.625em
	height: 5.625em
	background-color: rgba(44, 49, 67, 0.9)
	box-sizing: border-box
	box-shadow: rgba(120, 247, 58, 0.5) 0px 0px 0.375em 0px
	top: 10em
	position: fixed
	z-index: 4
	cursor: pointer
	margin-left: 27.188em
	border-radius: 0.375em
	border-width: 0.188em
	border-style: solid
	border-color: rgb(162, 255, 106)
	border-image: initial

	&:hover img
		animation: 1.8s linear 0s infinite normal none running iVXCSc

	img
		width: 3.25em
		height: 3.25em

@keyframes iVXCSc
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

.hhjuNC
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: flex-start
	width: 50%
	height: 17.688em
	margin-left: 4em
	top: 19.813em
	position: fixed
	flex-shrink: 0
	z-index: 3

.hhjuNC ul
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: flex-start
	height: inherit
	padding-left: 0px
	white-space: nowrap
	margin: 0px

.iuMdmI
	display: flex
	justify-content: flex-start
	align-items: center
	text-align: left
	width: 100%
	height: 5em
	background-size: contain
	margin-right: 1.125em
	position: relative
	margin-top: 0px
	z-index: 4
	cursor: pointer
	transition: all 0.2s ease-in-out 0s
	background-repeat: no-repeat

.dNtGtk
	display: flex
	justify-content: flex-start
	align-items: center
	text-align: left
	width: 3.25em
	height: 3.25em
	background-size: contain
	margin-right: 1.125em
	background-image: url(../img/li3.svg)
	transition: all 0.2s ease-in-out 0s
	background-repeat: no-repeat

.ijPUzw
	font-weight: bold
	font-size: 2.5em
	text-transform: uppercase
	text-shadow: rgba(0, 0, 0, 0.25) 0em 0.25em 0.25em
	transition: all 0.2s ease-in-out 0s


.kVPFoK
	display: flex
	justify-content: flex-start
	align-items: center
	text-align: left
	width: 3.25em
	height: 3.25em
	background-size: contain
	margin-right: 1.125em
	background-image: url(../img/li4.svg)
	transition: all 0.2s ease-in-out 0s
	background-repeat: no-repeat

.bWOZse
	display: flex
	justify-content: flex-start
	align-items: center
	text-align: left
	width: 3.25em
	height: 3.25em
	background-size: contain
	margin-right: 1.125em
	background-image: url(../img/li5.svg)
	transition: all 0.2s ease-in-out 0s
	background-repeat: no-repeat


.jRohBp
	display: flex
	justify-content: flex-start
	align-items: center
	text-align: left
	width: 3.25em
	height: 3.25em
	background-size: contain
	margin-right: 1.125em
	background-image: url(../img/li6.svg)
	transition: all 0.2s ease-in-out 0s
	background-repeat: no-repeat

.menuItemClass:hover .ijPUzw
	color: rgb(255, 188, 9)

.hHPzhH
	width: 0.5em
	height: 0.5em
	position: absolute
	background-color: rgb(255, 188, 9)
	box-shadow: rgba(255, 142, 9, 0.5) 0px 0px 0.676em 0px
	margin-left: 2.7em
	margin-top: 0.5em
	z-index: 7
	align-self: flex-start
	border-radius: 50%

.menuItemClass:hover .dNtGtk
	background-image: url(../img/li3-hover.svg)

.menuItemClass:hover .kVPFoK
	background-image: url(../img/li4-hover.svg)

.menuItemClass:hover .bWOZse
	background-image: url(../img/li5-hover.svg)

.menuItemClass:hover .jRohBp
	background-image: url(../img/li6-hover.svg)



@import "media" // Always at the end